$app-max-width: 990px;

$sm-displays-brakepoint: 767px;

$colors: (
  "grey": (
    "lightest": #eaeaea,
    "light": #999999,
    "medium": #666666,
    "dark": #404040
  ),
  "green": (
    "light": #71C838,
    "medium": rgb(58, 150, 21),
    "dark": darkgreen
  ),
  "black": #000000,
  "blue": #0C77BB,
  "red": #FF0000,
  "white": #FFFFFF
);

$tooltip-standard-font-size: 14px;
$tooltip-standard-line-height: $tooltip-standard-font-size + 5px;
$input-border-standard: 1px solid map-get(map-get($colors, "grey"), "light");